<div class="virtue-descriptions">

<div>
   <h1>
    Előnyök és Hátrányok leirása
   </h1> 
   <p>Az előnyök közül a minor előnyök 1 pontba, a major előnyök 3 pontba kerülnek. Egy karakter max 10 pontnyi előnyt vehet fel, és ahány pontnyi előnyt vett fel, annyi pontot kell elköltenie hátrányokra</p>
   <h2>Lista</h2>
   <img class="img-responsive" src="assets/images/virtues.png">
   <img class="img-responsive" src="assets/images/flaws.png">
   <h2>Leirás</h2>
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue1.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue2.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue3.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue4.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue5.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue6.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue7.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue8.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue9.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue10.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/virtue11.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw1.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw2.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw3.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw4.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw5.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw6.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw7.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw8.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw9.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw10.png">
</div>
<div>
    <img class="img-responsive" src="assets/images/flaw11.png">
</div>
</div>