<app-title></app-title>
<h1>Karakter alkotás folyamata</h1>
<p>Először is válaszd ki, milyen karaktert szeretnél létrehozni.</p>
<app-character-types></app-character-types>

<h2>Méret</h2>
<p>Minden karakter rendelkezik méretekkel. Az alapértelmezett méret 0. Minden 3 pontnyi növekedés 10-szeres növekedést 
    jelent a tömegben. A méretet Előnyökkel és Hátrányokkal lehet befolyásolni.
</p>
<h2>Előnyök és Hátrányok</h2>
<p>
    Különleges képességek amik megkülönböztetik az átlagemberektől a karkatert. A kisebb előnyök és hátrányok 1 pontba, míg a jelentősebb előnyök és hátrányok 3 pontba kerülnek.
    Legfeljebb 10 pontot lehet elkölteni előnyökre, és az elköltött pontoknak megfelelő mennyiségű hátrányt kell felvenni.
</p>
<h2>Jellemvonások</h2>
<p>
    A karakterek tulajdonságait a Jellemvonások írják le. Ezek gyakorlatilag a különböző rendszerekben megismert Ability-k megfelelői.
    A Jellemvonásokban a 0 az átlagos érték. Minimum -3, a maximum pedig +3.
    A karakterek Jellemvonásai fizikai jellemzőket írnak le, ezért a változtatásuk nem egyszerű feladat.
    A karakter minden jellemvonása 0-ról indul és 7 pontot kap, amiből vásárolhat jellemvonásokat, minden értéknek megvan, hogy mennyibe kerül.
</p>
<ul>
    <li>
        <h2>Intelligencia:</h2>
        <p>Az Intelligencia a karakter gondolkodóképességének és tanulási képességének leírása./p>
    </li>
    <li>
        <h2>Észlelés</h2>
        <p>Annak a képessége, hogy aktivan vagy passzívan észrevegyen dolgokat a karakter.</p>
    </li>
    <li>
        <h2>Erő</h2>
        <p>A fizikai erőnek a leírása. A támadásnál fontos. Az erős karakterek általában nagyobb méretekkel rendelkeznek.</p>
    </li>
    <li>
        <h2>Stamina</h2>
        <p>A fizikai és mentális sérülések elviselésére és a sérülések gyógyulására használt jellemvonás. A varázshasználat is erősen függ a staminától,
            ugyanis minden mágusnak megvannak a fizikai, mentális határai, hogy mennyi varázslat után fárad el.
        </p>
    </li>
    <li>
        <h2>Megjelenés</h2>
        <p>
            A karakter megjelenésének, szépségének leírása. Emellett a karizmát is befolyásolja, mennyire tud inspirálóan vagy megfélemlitően fellépni.
        </p>
    </li>
    <li>
        <h2>Kommunikáció</h2>
        <p>
            A karakter beszédkészségét leíró jellemvonás, mennyire képes meggyőzni másokat az igazáról, mennyire képes lenyűgözni, megtéveszteni másokat.
        </p>
    </li>
    <li>
        <h2>Ügyesség</h2>
        <p>A karakter azon képességeit írja le, mennyire képes a koordinációra, egyensúlyra és milyen kiegyensúlyozottan képes mozogni.</p>
    </li>
    <li>
        <h2>Gyorsaság</h2>
        <p>A gyorsaság írja le, hogy milyen hatékonysággal képes az ember sietve elvégezni a feladatát. A harcok során a kezdeményezésnél is a gyorsaságot használjuk</p>
    </li>
</ul>
<hr>
<div>
    <p>-3: a karakter +6 pontot kap amit elkölthet a többi jellemvonásra</p>
    <p>-2: a karakter +3 pontot kap amit elkölthet a többi jellemvonásra</p>
    <p>-1: a karakter +1 pontot kap amit elkölthet a többi jellemvonásra</p>
    <p>0: átlagos érték</p>
    <p>+1: a karakter 1 pontot elkölt</p>
    <p>+2: a karakter 3 pontot elkölt</p>
    <p>+3: a karakter 6 pontot elkölt</p>
</div>
<hr>
<h1>Hírnév</h1>
<p>A karakter ismerettsége, ami a nagy tettekkel nőhet.</p>
<h1>Magabiztosság</h1>
<p>A Magabiztosság pontok elköltésével +3 pontot kaphat egy próbára a karakter, azonban fontos megjegyezni, hogy nem térül vissza. Magabiztosságot nyerni lehet különböző célok és cselekedetek végrehajtásával.
     Gyakorlatilag a DnD 5E-ben megismert Inspirationhöz hasonlítható
</p>
<h1>Képességek</h1>
<p>A képességek mennyisége a kortól függ és a képességek maximum értéke is függ a karakter életkorától.
    30 éves kor alatt a maximum felvehető képesség érték az 5, míg ezután minden öt év után +1-gyel nő a maximum értéke.
</p>
<p>Az első 5 életkorra minden karakter kap 5 pontot az anyanyelvére, valamint 45 elosztható pontot, amit Helyismeret, Érzékelés, Atlétika, Verekedés, Elbájolás, Emberismeret, Metévesztés, Élő Nyelv, Lopakodás, Túlélés és Úszás között oszthat el</p>
<p>Ezek után minden évre 15 pontot kap, amit bármilyen Képességre elkölthet, ha van hozzáférése azokhoz a képességekhez. Némely képesség felvételéhez egy előny felvétele szükséges.</p>
<img class="img-responsive" src="assets/images/advancement.png">
<h3>A képességek listája</h3>
<img class="img-responsive" src="assets/images/abilities.png">
<nav>
    <a routerLink="/skills">Részletesebben olvass utána a képességeknek</a>
</nav>
<h1>Előnyök és Hátrányok részletesen</h1>
<div>
    <h3>Az Ajándék</h3>
    <p>Az ajándék egy speciális előny, ami a mágikus ismeretekben való jártasságot jelenti. Minden mágusnak fel kell vennie ezt az előnyt.</p>
    <h3>Hermetikus előny</h3>
    <p>Olyan előnyök, amiknek a felvételéhez szükséges az Ajándék felvétele.</p>
    <h3>Szociális előny</h3>
    <p>A társadalomban betöltött szerepet befolyásolják ezek az előnyök, néhány előny ingyen felvehető, ami a karkater múltjára utal.</p>
    <h3>Természetfeletti</h3>
    <p>Olyan természetfeletti erők befolyásolják a karaktert, amiről lehet ő sem tud (nem kell tudnia varázsolni), ilyenkor a négy világ egyike befolyásolja. A tündéreké, a mágiáé, az istené valamint az ördögé.</p>    
    <h2>Előny</h2>
    <img class="img-responsive" src="assets/images/virtues.png">
    <h2>Hátrányok</h2>
    <img class="img-responsive" src="assets/images/flaws.png">
    <nav>
        <a routerLink="/virtues-flaws">Részletesebben olvass utána az előnyöknek</a>
    </nav>
</div>
<nav class="createNew">
    <a routerLink="/create">Create new Character</a>
</nav>