<h1>Mágia rendszer:</h1>
<p class="introduction">
    A mágia rendszerre koncentrál elsősorban a játék. A mágiarendszert úgynevezett Művészetek épitik fel. A Művészetek 10 formát és 5 technikát tartalmaznak.
</p>
<h2>Technikák</h2>
<ul>
    <li>
       <p class="magic">
        Creo: /Teremtek!/ -Segítségével tökéletes tárgyakat lehet létrehozni, vagy létezőket közelebb vinni a tökéletességhez.
       </p> 
    </li>
    <li>
        <p class="magic">
            Intellego: /Észlelek!/ - A dolgok közötti kapcsolatokat és titkokat lehet megismerni általa
        </p>
    </li>
    <li>
        <p class="magic">
            Muto: /Átalakitok!/ - A megváltoztatás, átváltoztatás művészete, egyik dologból egy teljesen más dolgot lehet késziteni.
        </p>
    </li>
    <li>
        <p class="magic">
            Perdo: /Pusztitok/ - Öregség, betegség, rozsdásodás és halál előidézést alkalmazó művészet.
        </p>
    </li>
    <li>
        <p class="magic">
            Rego: /Irányitok!/ - A mágus nem a belső, hanem a külső hatásokat változtatja meg. Parancsokat adhat neki.
        </p>
    </li>
</ul>
<h2>Formák:</h2>
<ul>
    <li>
        <p class="magic">
            Animal: /Állatot/ - Ezen forma minden állatot tartalmaz, szárnyasat, patásat, pikkelyest
        </p>
    </li>
    <li>
        <p class="magic">
            Aquam: /Vizet/ - Minden folyadékra ható forma
        </p>
    </li>
    <li>
        <p class="magic">
            Auram: /Levegőt/ - A levegő, szél és időjárás irányitása
        </p>
    </li>
    <li>
        <p class="magic">
            Corpus: /Testet/ - Emberek és emberszerű hús-vér testek irányitása
        </p>
    </li>
    <li>
        <p class="magic">
            Herbam: /Növényt/ - Növények, gombák, gerendák irányitása
        </p>
    </li>
    <li>
        <p class="magic">
            Ignem: /Tüzet/ - tűz, hő és fény irányitása
        </p>
    </li>
    <li>
        <p class="magic">
            Imaginem: /Képzeletet/ - hangok, fények, érzetek formája. illúziók készitése.
        </p>
    </li>
    <li>
        <p class="magic">
            Mentem: /Elmét/ - Elmék, gondolatok, lelkek befolyásolása
        </p>
    </li>
    <li>
        <p class="magic">
            Terram: /Földet/ - A szilárd talaj, föld és kövek irányitása tartozik ide.
        </p>   
    </li>
    <li>
        <p class="magic">
            Vim: /Erőt, Hatalmat/ - Szellemek, Démonok és Mágia erejének forrásának irányitása.
        </p>
    </li>
</ul>
