<app-title></app-title>
<h1>Karakteralkotó</h1>
<form (ngSubmit)="createCharacter()">
<div>
    <label for="name">Név: </label>
    <input autocomplete="off" required/>

    <label for="age">Kor: </label>
    <input autocomplete="off" required/>
</div>
<div>
    <label>Intelliencia: </label>
    <input type="text" required/>
    <label >Észlelés: </label>
    <input type="text" required/>
</div>
<div>
    <label >Erő:</label>
    <input type="text" required/>
    <label >Stamina: </label>
    <input type="text" required/>
</div>
<div>
    <label>Megjelenés: </label>
    <input type="text" required/>
    <label>Kommunikáció: </label>
    <input type="text" required/>
</div>
<div>
    <label >Ügyesség: </label>
    <input type="text" required/>
    <label >Gyorsaság: </label>
    <input type="text" required/>
</div>
<button type="submit"/>
</form>