<app-title></app-title>
<h1>Karakteralkotó</h1>
<form [formGroup]="characterForm" (ngSubmit)="createCharacter()">
<div>
    <label for="name">Név: </label>
    <input id="name" formControlName="name" autocomplete="off" required/>

    <label for="age">Kor: </label>
    <input id="age" formControlName="age" autocomplete="off" required/>
</div>
<div>
    <label>Intelliencia: </label>
    <input id="intelligence" formControlName="intelligence" type="text" required/>
    <label >Észlelés: </label>
    <input id="perception" formControlName="perception" type="text" required/>
</div>
<div>
    <label >Erő:</label>
    <input id="strength" formControlName="strength" type="text" required/>
    <label >Stamina: </label>
    <input id="stamina" formControlName="stamina" type="text" required/>
</div>
<div>
    <label>Kommunikáció: </label>
    <input id="communication" formControlName="communication" type="text" required/>
    <label>Megjelenés: </label>
    <input id="presence" formControlName="presence" type="text" required/>
</div>
<div>
    <label >Ügyesség: </label>
    <input id="dexterity" formControlName="dexterity" type="text" required/>
    <label >Gyorsaság: </label>
    <input id="quickness" formControlName="quickness" type="text" required/>
</div>
<button type="submit">Save</button>
</form>