<div>
    <h1>Karakter tipusok</h1>
    <ul>
        <li>
            <p>
                Mágus (Magi): Mágikus képességekkel felruházott ember, az élete hosszabb, mint az átlagembereké. A történet fő szereplői.
            </p>
        </li>
        <li>
            <p>
                Bajtárs (Companion): Olyan közember, aki ismeri a varázslók világát és segíti a varázslókat a mindennapokban. Lehetnek őrkapitányok, nemesek, kereskedők.
            </p>
        </li>
        <li>
            <p>
                Grog: Olyan közember, aki nem ismeri a varázslók világát, viszont közvetve segítheti a varázslókat, legtöbbször mint földesurat vagy hűbérurat szolgálják a mágusokat. 
            </p>
        </li>
    </ul>
</div>