<app-title></app-title>
<div>
    <h1>Bevezetés:</h1>
    <div>
        <p class="introduction">
            Az Ars Magica egy szerepjáték, mely a Legendák Európájában, a 13. század Európájának egy mitikus változatában játszódik.
            A játék központi figurái a varázshasználó mágusok és szövetségeseik.
        </p>
        <p class="introduction">
            Az Ars Magica az úgynevezett Csapat-szerepjátékok egyik első képviselője. 
            A kezdeti kiadások azt javasolták, hogy a játékosok együttműködve alkossák meg a történet világát és fonalát, 
            így minden játékosnak megadva a lehetősége arra, hogy mesélőként és kalandozóként is részt vegyen a történet alakításában.
            Továbbá, mivel minden játékosnak több karaktere volt, megeshetett az is, hogy amennyiben valaki úgy érezte, fő karaktere nem megy el a többiekkel kalandozni 
            (mert például épp elmerült valamiféle kutatásban),
            másodlagos karakterével (úgynevezett bajtársával) vehetett részt az akcióban.
        </p>
        <p class="introduction">
            A játék színtere, a Legendák Európája a 13. század Európáján alapul, tehát a földrajza megegyezik és a mundán (nem mágikus) politikai viszonylatai gyakorlatilag megegyeznek.
             Azonban fontos különbség, hogy a középkori hiedelemvilág elemei – a nép babonái és képzetei- igazak. A gyermekeket valóban elragadják a tündérek, és a hegyek csúcsain és az erdők mélyén tényleg mesés lények tanyáznak.
        </p>
        <p class="introduction">
            A játékos karakterek között egyaránt vannak Mágusok, egyaránt pedig Bajtársak, olyan képzett nem-Mágusok (harcosok, erdőjárók, várurak stb) akik segítik a varázslót ügyei intézésében, hiszen a mágusok hajlamosak eltávolodni a földi világtól, hogy inkább a mágiát tanulmányozzák. 
            Rajtuk kívül minden játékos számos Grogot, vagy csatlóst irányít, akik nem többek képzett közembereknél, parasztoknál vagy mosónőknél. A varázslók Conventusokban élnek, melyek a világtól elzárkózó rendházak vagy erődítmények, gyakran mágikus helyekre építve.
             A Conventus-ok a bázisai a mágusoknak, de sokszor fel kell kerekedniük, hogy a legkülönfélébb célokkal bejárják a Legendák Európáját. Némely forrás úgy véli, hogy a Convenvtus a főszereplője a játéknak.
        </p>
        <h1>Hermész Rendje</h1>
        <p class="introduction">
            A mágusok Hermész Rendjének egy házába tartoznak. A Rend Tribunálokra tagozódik, melyek mind a Legendák Európájának egy hozzávetőlegesen ország méretű régióját igazgatják.
            A tizenhárom Tribunál területei nagyjából követik az országok, királyságok egy csoportjának határvonalait. Minden tribunálnak megvan a saját kulturális és történelmi hangulata, mely nagyban befolyásolhatja a játék menetét. Például míg a Római tribunál egy sűrűn lakott terület mely rengeteg intrikára ad lehetőséget, de mágikus erőforrások terén erős hiányok tapasztalhatók, addig a Novgorodi tribunál területén ellenségesebbek a körülmények és a barbár hódítók hadjáratai és a mágikus szörnyek folyamatos problémát jelenthetnek.
        </p>
        <p class="introduction">
            A Tribunálok mellett fontos szerepet kapnak a házak, amelyekből érkezhetnek a mágusok. Minden Varázsló háznak megvannak az erősségei és a kultúrája. Vannak, akik az állattá alakulásban erősek, vannak akik a védelmi vagy támadó mágiában, vannak, amelyek pedig a tündérek mágiáját tanulmányozzák.   
        </p>
        <app-magic-forms></app-magic-forms>
    </div>
</div>